<!-- Edit User Profile HTML page -->

<div class="jumbotron">
<center><h1>User Profile</h1>

	<!-- Error Messages -->
	<%= form_for @user do |f| %>
	  <% if (@user.errors.any?) %>

	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% @user.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

<center>
<table>
  <tr>
  	<td>
	  <!-- Edit Fields -->
	  <div class="field">
	    <%= f.label :name, "Full Name:" %><br />
	    <%= f.text_field :name %>
	  </div><br>
	    <div class="field">
	    <%= f.label :email, "Email:" %><br />
	    <%= f.text_field :email %>
	  </div><br>
	  <div class="field">
	    <%= f.label :location, "Your current Zip Code:" %><br />
	    <%= f.text_field :location %>
	  </div><br>
	   <div class="field">
	    <%= f.label :post, "Leave a comment:" %><br />
	    <%= f.text_field :post %>
	  </div><br>
	</td>
	<td></td> <!-- Empty column for spacing -->
	<td>
	  <div class="field">
		<%= f.label :avatar, "Post a photo:" %><br />
		<%= f.file_field :avatar %><br>
		<%= image_tag(@user.avatar, width: '300') %>
	  </div><br>
	</td>
	  <!-- No password update for now
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div> -->

	  <!-- SUBMIT BUTTON -->
	  <tr><td>
	  <div class="actions"><%= f.submit "Update my info" %></div>
	</tr><td>
	<% end %>
</center>
</div>