<!-- Show Each User -->
<div class="jumbotron">
<center>
	<h1> <%= @user.name %> </h1>
	<table>
		<tr>
			<td>
				<%= image_tag(@user.avatar, :class => "showimg") %>
			</td>
			<td></td>
			<td>
				<p>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
				<p>Post: <%= @user.post %> </p>
			</td>
		<tr>
	</table>
	<br><br>
	<%= link_to "Back Home Page", root_path %>
<center>
</div>