<!DOCTYPE html>
<html>

<head>
  <title>Wdi1011yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body ng-app="yearBookApp">

<nav class="navbar navbar-inverse" role="navigation">

<table class="header_table">
	<tr>
		<td>
			<%= link_to image_tag("ga_logo.png", class: "galogo"), root_path %>
		</td>

		<td>	
			Web Development Immersive<br>
			Santa Monica, CA.<br>
			Cohort 10/11
		</td>

		<td class="header_signin">
			<div id="loginout">
 				<% if @current_user %>
		      		Logged in as <%= @user.email %>.
		      		<%= link_to "Log Out", logout_path("current") %>
		    	<% else %>
		      		<%= link_to "Sign Up", new_user_path %> /
		      		<%= link_to "Sign In", new_session_path %>
		    	<% end %>
			</div>
		</td>
	</tr>
</table>
</nav>

	<%= yield %>

</body>

</html>
